<div class="banner"></div>


<div class="content">
  <h1>
    Notre projet
  </h1>
  
  <img src="assets/images/collaborate.jpg" alt="">    

  <p>
    Mtl Inspire est un organisme sans buts lucratifs formé de jeunes adultes provenant de différentes cultures, d’âges et de parcours professionnels. Bien qu’à première vue nous semblons être des individus très distincts, nos aspirations sont non loin différentes. Notre désir d’aider et de redonner à notre communauté sont les principales raisons qui nous unissent. 
  </p>

  <p>
    Nous avons pour objectif d’organiser diverses activités dans la région de Montréal permettant d’amasser des fonds afin de les redistribuer à des organismes dans la ville. Nous avons décidé de concentrer nos collectes de fond localement, car nous cherchons à unifier notre communauté et nous croyons qu’il est important de s’attaquer à différents enjeux dans notre société, qu’ils soient grands ou petits, afin de pouvoir bâtir un échafaudage solide pour l’avenir.  Les principales causes qui nous tiennent à cœur sont la pauvreté, la santé, l’égalité, les enfants et l’éducation. 
  </p>

  <p>
    C’est dans cette perspective que nous avons mis sur pied  4 levées de fonds débutant à la fin du mois de janvier et s’étalant jusqu’à la fin du mois de juillet. Ces projets visent à venir en aide l’école primaire St-Mathieu situé dans l’arrondissement Saint-Michel, qui nécessite de l’aide pour leur projet de revitalisation de la cour d’école, ainsi que la fondation du CHU Sainte-Justine qui vise à améliorer les soins aux enfants, la recherche et dans l’acquisition de nouvelles technologies de pointe pour aider au meilleur diagnostic.  
  </p>

  <h1>Activités à venir</h1>

  <div class="events">

    <md-card>
      <md-card-title>Soirée Party Animalz</md-card-title>   
      <div class="infos">
        <div>
          <md-icon>place</md-icon>
          Blvd 44 2108 Boul. Saint-Laurent, Montréal, QC H2X 2T2
        </div>
        <div>
          <md-icon>event</md-icon>
          28 Janvier 2017
        </div>
      </div>
      
      <md-card-content>
        <p>La première activité se déroulera le 28 Janvier . Tous les profits collectés à la porte, ainsi qu’un certain pourcentage des ventes de cette soirée seront remis en entièreté à l’école.</p>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Soirée 1001 nuits</md-card-title>   
      <div class="infos">
        <div>
          <md-icon>place</md-icon>
          A définir
        </div>
        <div>
          <md-icon>event</md-icon>
          Mars 2017
        </div>
      </div>
      
      <md-card-content>
        <p>La soirée shisha comprend nourriture, artiste arabe, animation, danseuse du ventre, ainsi qu’un tirage. L’emplacement reste à être défini. Tous les profits à la porte et la moitié des bénéfices de la vente des billets du tirage seront également remis à l’école.</p>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Kermès</md-card-title>   
      <div class="infos">
        <div>
          <md-icon>place</md-icon>
          A définir
        </div>
        <div>
          <md-icon>event</md-icon>
          Mai 2017
        </div>
      </div>
      
      <md-card-content>
        <p>Une Kermès familiale sera organisée comprenant des jeux gonflables, clowns, animateurs, barbe à papa et des kiosques d’information du service de police et du service des pompiers. L’événement comprend une entrée gratuite avec des services payants et possibilité du tirage d’un voyage. Les profits seront remis à l’école.</p>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>Chasse au trésor</md-card-title>   
      <div class="infos">
        <div>
          <md-icon>place</md-icon>
          Montréal
        </div>
        <div>
          <md-icon>event</md-icon>
          Juillet 2017
        </div>
      </div>
      
      <md-card-content>
        <p>Une énorme chasse au trésor aura lieu dans Montréal (Plateau Mont-Royal, Centre-ville et Vieux-Montréal). 100% des profits de cette activité iront à la Fondation du CHU Sainte-Justine.</p>
      </md-card-content>
    </md-card>
  </div>
</div>