<md-toolbar color="primary">
  <div routerLink="/home" class="title">
    MTL Inspire
  </div>
  
  <div class="filler"></div>

  <!--<button md-button routerLink="/contact" routerLinkActive="active">Events</button>-->
  <button md-button routerLink="/home" routerLinkActive="active">Accueil</button>
  <button md-button routerLink="/team" routerLinkActive="active">L'équipe</button>
  <button md-button routerLink="/about" routerLinkActive="active">Le projet</button>
  <button md-button routerLink="/contact" routerLinkActive="active">Contact</button>
</md-toolbar>

<div id="main-content">
  <router-outlet></router-outlet>

  <footer id="contact">
    <h1>Contact</h1>
    <ul>
      <li>
        <div><md-icon>phone</md-icon> <span>+1 438 399-2846</span></div>
      </li>
      <li>
        <md-icon>email</md-icon> <a href="mailto:info@mtlinspire">info@mtlinspire.org</a>
      </li>
    </ul>
    <div class="social">
      <a href="https://www.facebook.com/Mtlinspire/" target="_blank"><i class="fa fa-facebook-square"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
  </footer>
</div>