<div class="banner"></div>

<div class="content">
  <h1>
    L'équipe
  </h1>

  <div class="person">
      <h3>Nabil Baidoun</h3>
      <p>
        Nabil est un bon vivant qui aime le changement dans la vie, sa philosophie est axée sur la recherche du bonheur, s'il n'est pas heureux à faire quelque chose, il est alors grand temps de faire un changement. Ayant vécu la guerre durant toute son enfance, il ne prends rien pour acquis et utilise ses expériences comme motivation pour venir en aide aux causes qui lui tiennent à coeur. Il croit que chaque individu sur cette terre a une voix et se doit de l'utiliser.
      </p>
  </div>
  
  <div class="person">
      <h3>Carina Sancho</h3>
      <p>
        Carina est une étudiante en biochimie qui, entre deux sessions d'étude, aime donner de son temps aux autres. Elle a oeuvré en tant que bénévole au sein de plusieurs organismes reconnus. C'est par son désir constant d'être au coeur de l'action en aidant directement les gens qu'elle trouve le plus grand bonheur. L'idée de pouvoir souder la communauté montréalaise dans la perspective de se soutenir tous et chacun en abaissant toutes inégalités est une des nombreuses raisons pour laquelle elle s'est impliquée au sein de ce projet. 
      </p>
  </div>
  
  <div class="person">
      <h3>Carlos Chavez</h3>
      <p>
       Carlos est un homme d'origine hispanique et fier papa monoparental. Issu des zones de guerre du Salvador, il a immigré à Montréal au début des années 90 et a grandit lui même dans plusieurs quartiers défavorisés de la métropole. Il fait carrière en sécurité et répartition médicale d'urgence depuis plusieurs années et désir redonner à sa communauté. Il croit dur comme fer que si chacun mets du sien, les choses peuvent changer.
      </p>
  </div>

  <div class="person">
      <h3>Stephanie Catalan</h3>
      <p>
       Stephanie  Catalan est une jeune demoiselle de 22 ans qui a toujours aidée d'une  façon ou une autre reconnaissant ses privilèges venant d'une famille immigrante qui n'as pas eu la vie facile mais qui a  toujours été disponible à venir en aide au autres.  L'organisme, pour elle, signifie un espoir et un début pour son rêve qui es à comme but de faire un changement. 
      </p>
  </div>

  <div class="person">
      <h3>Kimberly G. Vela</h3>
      <p>
       Voici Kimberly G.Vela. Elle  est directrice adjointe à une succursale de la Banque Nationale et  étudiante en ressource humaine au HEC. Kimberly est passionnée d'aider  les gens, connaître différentes cultures, très sociale et s'implique dans notre organisation pour redonner au jeunes. 
      </p>
  </div>

  <div class="person">
      <h3>Katherine Valencia</h3>
      <p>
       Elle est connue comme une personne passionnée, généreuse et sensible au  bien être des autres. Petite mais avec un grand coeur, ce qui la  démarque c'est son professionnalisme dans tout ce qu'elle entreprend.
      </p>
  </div>

  <div class="person">
      <h3>Diana Fajardo</h3>
      <p>
       Diana, d'origine colombienne réside à Montréal depuis l'âge de 15 ans. Elle a un certificat en études féministes et dans l'actualité, étudiante en développement de carrière à l'université de Montréal à Québec. Militante féministe et environnementale. Elle est engagée comme bénévole dans plusieurs projets. Elle envisage contribuer avec ses actions dans la ville de Montréal.
      </p>
  </div>

  <div class="person">
      <h3>Lamia Ait Taleb</h3>
      <p>
       Je m'appelle Lamia Ait Taleb physiothérapeute d'origine Marocaine, nouvelle à Montréal. Je suis intéressé d'être membre à l'association mtl inspire pour faire partie de ceux et celles qui travaillent à améliorer les choses et pour prendre part à un changement positif dans la communauté et aussi pour mieux connaître ma nouvelle société.
      </p>
  </div>

  <div class="person">
      <h3>Jennifer Hernandez</h3>
      <p>
       Étant une femme ouverte d'esprit, elle constate à tous les jours le manque de ressources pour les gens dans le besoin. Elle est une femme dynamique, accueillante et généreuse qui, à travers ses expériences et compétences, veut donner de son temps en esperant offrir un brin de bonheur et surtout de la motivation aux individus ou groupes en nécéssités. Son but est d'apporter davantage à la société et mettre ses qualités au service des moins nantis.
      </p>
  </div>

</div>