<div class="hero">
  <div class="filler"></div>
  <div class="description">
    <h2>MTL Inspire</h2>
    <p>
      OSBL né de la vision de plusieurs individus ayant la volonté d'apporter un changement positif à Montréal.
    </p>
  </div>
</div>

<div class="values">
  <md-card>
   <md-icon>people</md-icon>
   <md-card-title>Entraide</md-card-title>   
   <md-card-content>
      <p>Si nous pouvons inspirer les gens à agir, à apporter un changement positif au sein de la communauté, alors notre devoir sera accompli. Notre objectif n’est pas tout simplement d’agir en tant qu’OSBL, mais d’inspirer les autres à agir en tant qu’humains.</p>
   </md-card-content>
  </md-card>

  <md-card>
   <md-icon>lightbulb_outline</md-icon>
   <md-card-title>Inspirer</md-card-title>   
   <md-card-content>
      <p>À travers l’entraide, nous serons toujours vainqueurs, il n’y a rien qu’on ne peut pas surpasser en agissant en tant que communauté, des gens qui travaillent ensemble vers un but commun. Nous pouvons accomplir beaucoup en tant qu’individus, mais en tant que groupe qui s’entraide, nous pouvons tout accomplir.</p>
   </md-card-content>
  </md-card>

  <md-card>
   <md-icon>place</md-icon>
   <md-card-title>Local</md-card-title>   
   <md-card-content>
      <p>Notre mission est d’agir localement, de porter de l’aide aux causes qui nous tiennent à cœur dans notre belle ville qui est Montréal. Malgré le fait que la plupart de nous sommes originaires de différents pays, nous avons tous un point en commun, Montréal.</p>
   </md-card-content>
  </md-card>
</div>